
<div class="home-page">
  <form class="box" action="/artist-search" method="get">
  
  <input type="text" name="artist" id="artist" />
  <button class="button" type="submit">Search for an Artist</button>
</form>
</div>