   
    <div class="container">
    {{#each Tracks}}
    <div class="track-box">
        <p>{{this.name}}</p>
        <audio controls src="{{this.preview_url}}">preview</audio>
    </div> 
    {{/each}}
    </div>